<!DOCTYPE html>
<html>
  <head>
    <title>ASL-VR</title>
    <meta name="description" content="Learning ASL in WebVR with Leap Motion">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/4a066ef1-9c42-4c50-88b6-f259c389a9d3%2Ficon.svg?v=1572720780009" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='leap-0.6.4.min.js')}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='leap-plugins-0.1.12.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='leap-widgets-0.1.0.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='VRControls.js')}}"></script>
    <script src="{{url_for('static', filename='VREffect.js')}}"></script>

    <script src="https://aframe.io/releases/0.9.2/aframe.min.js"></script>
    <script src="//unpkg.com/aframe-leap-hands/dist/aframe-leap-hands.umd.js"></script>
    <style>
        body {
          text-align: center;
          font-weight: bold;
          margin: 0px;
          overflow: auto;
        }
      </style>
  </head>
  <body>
    <div id="output">
    </div>
  </body>
  <script>
    
    Leap.loop({optimizeHMD: true});

    var textFont = null;
    var loader = new THREE.FontLoader();
    loader.load( './static/fonts/helvetiker_regular.json', function(response) {
      textFont = response;
      renderText (chars[currCharIndex]);
    });

    var chars = "abcdefghijklmnopqrstuvwxyz".split('');
    var currCharIndex = 0;
    var count = 0;
    var fps = 60;

    var mesh;
    var textMesh = null;

    var options = {
      enableGestures: true,
      frameEventName: "frame"
    };

    Leap.loop(options, function(frame) { //PC 60 fps, Leap 120 fps

      count += 1;
      if (fps < 60)
        fps -= 1;
      if (fps <= 0) {
        fps = 60;
        renderImage();
        if (textFont != null) renderText (chars[currCharIndex]);
      }
      if(frame.hands.length > 0 && count >= 20 && (fps >= 60))
      {

        var hand = frame.hands[0];
        var palmVelocity =  hand.palmVelocity;
        var handVelocity = Math.sqrt(Math.pow(palmVelocity[0], 2) + Math.pow(palmVelocity[1], 2) + Math.pow(palmVelocity[2], 2));
        var bonesDistArr = [];
        hand.fingers.forEach(function(finger) {
          finger.bones.forEach(function (bone) {
            bonesDistArr.push(Math.abs(Leap.vec3.dist(bone.nextJoint, hand.palmPosition)) * 1000);
          });
        });
        $.get("/api/data", {
          data: JSON.stringify({"boneData" : bonesDistArr})
          }, 
          function(err, req, resp){
            var obj = Object.keys(resp.responseJSON);
            if (obj[0] == chars[currCharIndex]) {
              //Letters that require movement
              if ((chars[currCharIndex] != "j" || chars[currCharIndex] != "z") || (handVelocity >= 300 && (chars[currCharIndex] == "j" || chars[currCharIndex] == "z"))) {
                var string = "Predicted: " + obj[0].toString() + " with " + (resp.responseJSON[obj[0]] * 100).toFixed(2).toString() + "% Confidence";
                changeLetter(string);
              }
            }
          });
        count = 0;
      }
    })
      .use('transform', {
        vr: true
      })
      .use('boneHand', {
      targetEl: document.body
      // scene
    });

    function changeLetter (string) {
      camera.remove(mesh);
      currCharIndex++;
      if (textFont != null) renderText (string);
      if (currCharIndex >= chars.length)  
        currCharIndex = 0;
      fps -= 1;
    }
    
    //Render VR
    var boneHand = Leap.loopController.plugins.boneHand;
    var transform = Leap.loopController.plugins.transform;
    var renderer = boneHand.renderer;
    var scene = boneHand.scene;
    var camera = boneHand.camera;
    
    //Splits Screen into two
    var vreffect = new THREE.VREffect(renderer);
    //Moves with VR
    var vrcontrols = new THREE.VRControls(camera);
    //camera's transform will be aplpied to hands and vr transform
    transform.effectiveParent = camera;
    
    boneHand.render = function () {
      vrcontrols.update();
      vreffect.render(scene, camera);
    };

    //Render the ASL alphabet letter image depending on current index
    function renderImage () {
      var img = new Image();
      var height;
      var width;
      img.src = "./static/images/" + chars[currCharIndex] + ".gif";
      img.onload = function(){
        height = img.height;
        width = img.width;
      }
      //Render ASL letter image
      // Create a texture loader so we can load the image file
      var loader = new THREE.TextureLoader();
      var material = new THREE.MeshLambertMaterial({ //Material for images without specular highlights
        map: loader.load('./static/images/' + chars[currCharIndex] + ".gif")
      });
      //create a plane geometry for the image with a width of 10
      // and a height that preserves the image's aspect ratio
      var geometry = new THREE.PlaneGeometry(width, height);
      // combine our image geometry and material into a mesh
      mesh = new THREE.Mesh(geometry, material);
      // set the position of the image mesh in the x,y,z dimensions
      mesh.position.set(-.35, 0, -1.5);
      camera.add(mesh);
    }

    //Render the text on the screen using THREE.js
    function renderText (inputText) {
      if (textMesh != null) camera.remove(textMesh);
      var textGeometry = new THREE.TextBufferGeometry( inputText , {
        font: textFont,
        size: .15,
        height: 0, // extrusion
        curveSegments: 12,
        bevelThickness: .5,
        bevelSize: .1,
        bevelEnabled: false
      });
      textGeometry.center();
      var material = new THREE.MeshBasicMaterial({ color: 000000 });
      textMesh = new THREE.Mesh( textGeometry, material );
      textMesh.position.set (1.75, 1, -5);
      camera.add( textMesh );
    };

    //Event Listener: Skip Functionality on Keyboard - Press Space to Skip
    window.addEventListener("keydown", event => {
      if (event.keyCode === 32) {
        changeLetter ("Skipped Letter: " + chars[currCharIndex]);
      }
    });

    //Render the First Image
    renderImage ();

  </script>
</html>
